@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html, body {
    padding: 0;
    margin: 0;
}

.bar-top {

    position: relative;
    justify-content: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    height: 55px;


    background: #15CF74;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Social icons */

.social-icon {

    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left: 85%;

}

.discord-icon {

    width: 34px;
    height: 34px;
    margin-right: 20%;

}

.instagram-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.tiktok-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.btn-deconnexion {

    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
    color: whitesmoke;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.uil-shopping-bag {
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 32px;
    color: whitesmoke;
}

.rate {
    display: block;
    bottom: 0;
}

.btn-type-client {
    display: flex;
    align-items:center;
}


.btn-deconnexion:hover, .uil-shopping-bag:hover {
    background: rgba(25, 151, 87, 1);
    cursor: pointer;
}

.github-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.github-icon:hover, .tiktok-icon:hover, .instagram-icon:hover, .discord-icon:hover, .appstore-icon:hover, .playstore-icon:hover {
    cursor: pointer;
}

/* Formulaire de paiment */

.button-payment{
    border: 0.4px solid black;
    width: 6%;
    padding: 0.3%;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Fin formulaire de paiment */

/* Logo bar tools */

.logoSpeedCash {
    width: 8.9%;
}

.container-thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body-client {
    background-color: white;
}

/* Vignette vente */

.thumbnail {
    background: #828dA0;
    width: 25%;
    display: flex;
    flex-direction: row;
}

.row-right {
    margin-left: 2.5%;
}

.img-product {
    width: 240px;
    height: 240px;
}

.add-to-card {
    width: 100%;
    padding: 2%;
}

.desc-product {
    font-size: 14px;
}

.text-product {
    margin-top: 1.2%;
}

/* panier.php */

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    text-align: left;
}

td {
    height: 100px;
}

.rowtotal {
    text-align: right;
}


footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(45, 45, 45, 1);
    color: white;
    padding: 4%;
    width: 100%;
}