@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

                    /* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(199deg, #2DA771 24.18%, #06E775 80.49%);
    border-radius: 25px;
}

                    /* FIN ScrollBar */

input {
    color: #828dA0;
}

html, body {
    padding: 0;
    margin: 0;
}

.body-index {
    background: rgba(48, 48, 48, 1);
}

.container-fluid {
    height: 40vh;
}

:root {
    --main-color: #15CF74;
    --footer-dark-color: rgba(45, 45, 45, 1);
}


/* Logo bar tools */

.logoSpeedCash {
    width: 210px;
    height: 50px;
    margin-bottom: 8px;
}

/* Boutons BarTools */

.btn-client {
    border-radius: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 45px;
    padding-right: 45px;
    width: auto;
    color: whitesmoke;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

}

.btns {
    display: flex;
    align-items: center;
}

.btn-client:hover {
    background: rgba(25, 151, 87, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bar-top {

    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    align-items: center;

    background: #15CF74;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 1;

}

.bar-top-changemdp {

    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 55px;
    align-items: center;

    background: #15CF74;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Social icons */

.social-icon {

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.discord-icon, .instagram-icon, .tiktok-icon, .github-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.english-flag {

    border-radius: 0.30rem;
    margin-right: 30%;

}

.french-flag {
    border-radius: 0.30rem;
    margin-right: 20%;
}

.a-french-flag, .a-english-flag {
    text-decoration: none;
    margin: 6px 40px 0 0;
}


.github-icon:hover, .tiktok-icon:hover, .instagram-icon:hover, .discord-icon:hover, .appstore-icon:hover, .playstore-icon:hover, .french-flag:hover, .english-flag:hover {
    cursor: pointer;
}

.container {

    position: relative;
    min-height: 899px;
    background: rgba(48, 48, 48, 1);
    flex-direction: row;
    flex: 1 0 auto;


}




/* Achetez grâce à nous, vous y gagnerez... */

.slogan {

    position: absolute;
    width: 670px;
    height: 240px;
    left: 86px;
    top: 120px;

    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 1px;
    text-align: left;


    color: #FFFFFF;

    mix-blend-mode: normal;

}

/* Marketing phrase */

.marketing-phrase {

    position: absolute;
    width: 611px;
    height: 72px;
    left: 83px;
    top: 420px;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;


    color: #FFFFFF;

}


.text-row {
    display: flex;
}

.row-left {
    display: flex;
}

/* Ellipse 1 */

.ellipse {

    position: absolute;
    width: 555px;
    height: 555px;
    left: 904px;
    top: 149px;

    background: linear-gradient(199deg, #2DA771 24.18%, #06E775 80.49%);
    border: 1px solid rgba(241, 252, 255, 0.5);
    box-sizing: border-box;
    box-shadow: inset 0 30px 50px rgba(229, 239, 242, 0.23);
    border-radius: 100%;

}

/* Loyalty Card */

.loyalty-card {

    position: absolute;
    width: 511px;
    height: 320.5px;
    left: 800px;
    top: 210px;

    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    transform: rotate(17.39deg);
    border: 1px solid rgba(241, 252, 255, 0.5);

}

/* Info Loyalty Card */

.number-card {

    position: absolute;
    width: auto;
    height: auto;
    top: 132px;
    left: 40px;

    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


}

/*  Flags Langage */



/* End of Flags Langage */
.owner-card {

    position: absolute;
    width: auto;
    height: auto;
    top: 220px;
    left: 40px;

    font-family: 'Comfortaa', cursive;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


}

.expiry-card {

    position: absolute;
    width: auto;
    height: auto;
    top: 220px;
    left: 300px;

    font-family: 'Comfortaa', cursive;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.cvv-card {

    position: absolute;
    width: auto;
    height: auto;
    left: 380px;
    top: 220px;

    font-family: 'Comfortaa', cursive;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.ownerName-card {

    position: absolute;
    width: auto;
    height: auto;
    top: 240px;
    left: 40px;

    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height */


    color: #FFFFFF;

}

.date-card {

    position: absolute;
    width: auto;
    height: auto;
    left: 300px;
    top: 240px;

    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.number-cvv {

    position: absolute;
    width: auto;
    height: auto;
    left: 380px;
    top: 240px;

    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

/* FIN Loyalty Card */

/* Approuvé par plus de 40 millions utilisateurs */

.approuved-byUser {

    position: absolute;
    width: 384px;
    height: 24px;
    left: 860px;
    top: 720px;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;


    color: #FFFFFF;

    mix-blend-mode: normal;
    width: auto;

}

/* Flêche invurvée */



a {
    color: rgba(6, 231, 117, 1);
}

/* Apple Store Icon */

.appstore-icon {

    position: absolute;
    width: 180px;
    height: 60px;
    left: 89px;
    top: 699px;
    padding: 0;
    margin: 0;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../icons/appstore.svg");
    mix-blend-mode: normal;
    border-radius: 7px;

}

/* Google Play Store */

.playstore-icon {

    position: absolute;
    width: 218px;
    height: 85px;
    left: 265px;
    top: 687px;
    padding: 0;
    margin: 0;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../icons/google-play-badge.png");
    mix-blend-mode: normal;
    border-radius: 7px;

}

/* Page de récupération de mot de passe */

.code-changemdp, .email-changemdp, .submit-chamgemdp, .submit2-changemdp, .submit3-changemdp {

    outline: none;
    background: none;
    width: 20%;
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 1%;
    margin-bottom: 1.5%;

}

.password1-changemdp {
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 20%;
    font-size: 16px;
    outline: none;
    background: none;
}

.password2-changemdp {
    margin-bottom: 1.5%;
    width: 20%;
    font-size: 16px;
    outline: none;
    background: none;
}

.email-changemdp {
    margin-bottom: 2%;
}

.submit-recup {
    background: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    width: 120px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}


.article-recup {
    margin-left: 14%;
    margin-top: 6%;
}

.titre-recup {
    font-size: 24px;
}


.modal-container {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    overflow-y: -moz-scrollbars-none;
    overflow-x: -moz-scrollbars-none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    left: 30%;
    top: -45px;
}

.close-modal {
    cursor: pointer;
    font-size: 1.6em;
    color: black;
    position: relative;
    top: 35px;
    right: 10px;
    z-index: 999;
}

.close-modal-insc {
    cursor: pointer;
    font-size: 1.6em;
    color: black;
    position: relative;
    top: 35px;
    left: 490px;
    z-index: 999;
}

.close-modal:hover, .close-modal-insc:hover {
    color: #15CF74;
    filter: blur(0.5px);
}


.success-notif {
    position: absolute;
    top: 140px;
    left: 38%;
    padding: 14px 18px;
    background: #15CF74;
    border-radius: 12px;
    width: 25%;
    color: whitesmoke;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    animation-name: notif;
    animation-duration: 1s;
}

@keyframes notif {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.close-popup-notif {
    font-size: 20px;
    position: absolute;
    top: 1%;
    right: 3%;
    color: whitesmoke;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.close-popup-notif:hover {
    cursor: pointer;
    color: indianred;
    transition: all 0.3s ease-in-out;
}

.alert-inscription {
    width: 404px;
    padding: 16px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    background: linear-gradient(199deg, #2DA771 24.18%, #04c361 80.49%);
    border-radius: 4px;
    z-index: 999;
}

.alert-connexion {
    width: 404px;
    padding: 16px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    background: linear-gradient(199deg, #2DA771 24.18%, #04c361 80.49%);
    border-radius: 4px;
}

.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.form-box {
    z-index: 1;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    width: 550px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.form-box h2 {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 700;
}

.form-box .field {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 25px;
}

.form-box .field.active {
    border-bottom: 2px solid var(--main-color);
    transition: 0.3s ease;
}

.form-box .field input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 1em;
    padding-bottom: 5px;
}

.form-box .field i {
    color: #828dA0;
    font-size: 1.3em;
    margin-right: 10px;
    padding-bottom: 5px;
}

.form-box .field.active i {
    color: var(--main-color);
    transition: 0.3s ease;
}

::placeholder {
    color: #828dA0;
    font-size: 0.85em;
}

.eye-btn, .eye-btnInsc, .eye-btnConfirmInsc {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.eye-btn i:hover, .eye-btnInsc i:hover, .eye-btnConfirmInsc i:hover {
    color: var(--main-color);
    transition: 0.3s ease;
}

.forgot-link {
    text-align: right;
    transform: translateY(-10px);
}

.forgot-link a {
    color: var(--main-color);
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 500;
}

.submit-btn {
    position: relative;
    background: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    top: 10px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-btn-insc {
    position: relative;
    background: var(--main-color);
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    top: 10px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 10%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-options .text {
    color: #828dA0;
    font-size: 0.65em;
    margin: 25px 0;
}

.other-login {
    display: flex;
}

.other-login a {
    border: 1px solid #ccc;
    padding: 11px 32px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    transition: border 0.3s ease;
}

.other-login a:hover {
    border: 1px solid var(--main-color);
}

.other-login a img {
    width: 20px;
}

.imgBox img{
    max-width: 270px;
}

.sliding-link {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 25px;
}

.sliding-link span {
    color: var(--main-color);
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}

.sign-up-btn, .sign-in-btn {
    position: relative;
    top: 27.8%;
    transition: all 0.3s ease-in-out;
}

.sign-in-box {
    width: 499px;
}

.imgBox {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    height: 400px;
    padding: 15px 35px;
}

.sign-in-imgBox {
    border-radius: 0 5px 5px 0;
}

.sign-up-imgBox {
    border-radius: 5px 0 0 5px;
}

.sign-in-form.hide .sign-in-box {
    transform: translateX(100%);
    visibility: hidden;
}

.sign-in-form.hide .sign-in-imgBox {
    transform: translateX(-100%);
    visibility: hidden;
}

.sign-in-form.show .sign-in-box,
.sign-in-form.show .sign-in-imgBox {
    transform: translateX(0);
    visibility: visible;
    transition: 0.5s ease;
}

.sign-up-form .sign-up-imgBox {
    transform: translateX(100%);
    visibility: hidden;
}

.sign-up-form .sign-up-box {
    transform: translateX(-100%);
    visibility: hidden;
}

.sign-up-form.show .sign-up-imgBox,
.sign-up-form.show .sign-up-box {
    transform: translateX(0);
    visibility: visible;
    transition: 0.5s ease;
}

.list-nation, input {
    padding-top: 6.5px;
    padding-right: 6.5px;
    padding-bottom: 6.5px;
    border: none;
    color: #828dA0;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 735px) {
    .form-container {
        flex-direction: column;
        top: 0;
        overflow: hidden;
        padding: 30px;
    }

    .form-box {
        box-shadow: none;
        padding: 0;
    }

    .imgBox img {
        max-width: 45%;
        min-width: 180px;
    }

    .imgBox {
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 35px 35px 15px;
    }

    .sign-up-form {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 450px) {
    .form-container {
        font-size: 0.9rem;
    }

    .form-box {
        width: 100%;
    }
}

@media screen and (max-width: 325px) {
    .other-login a {
        padding: 9px 25px;
        margin: 0 3px;
    }
}

