@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(199deg, #2DA771 24.18%, #06E775 80.49%);
    border-radius: 25px;
}

/* FIN ScrollBar */

:root {
    --main-dark-color: rgba(58, 58, 58, 1);
    --footer-dark-color: rgba(45, 45, 45, 1);
    --main-icons-color: rgba(70, 70, 70, 1);
    --main-button-color: rgba(46, 46, 46, 1);
    --main-thumbnail-color: #dcdcdc;
}

/* Page panier.php */

.cart-body {
    background-color: var(--main-dark-color);
}

.cart-table {
    background-color: var(--footer-dark-color);
    border-radius: 10px;
}

/* Fin page panier.php */

html, body {
    padding: 0;
    margin: 0;
}

.access-to-label {
    margin-top: 10px;
    border-top: 2px solid var(--main-icons-color);
    width: 100%;
    margin-bottom: 10px;
}

.img-profil-client {
    width: 60px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    transition: all 0.3s ease-in-out;
}

.img-profil-client:hover {
    cursor: pointer;
    border-radius: 25%;
}

.bar-top {

    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    height: 55px;


    background: #15CF74;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Social icons */

.social-icon {

    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left: 85%;

}

.discord-icon {

    width: 34px;
    height: 34px;
    margin-right: 20%;

}

.instagram-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.tiktok-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.left-elements {
    display: flex;
    align-items: center;
}

.btn-entreprise {
    border-radius: 30px;
    padding: 14.5px 45px;
    color: whitesmoke;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

}


.btn-deconnexion {

    border-radius: 30px;
    padding: 14px 45px;
    color: whitesmoke;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.uil-shopping-bag, .uil-user-circle {
    border-radius: 30px;
    padding: 4px 15px;
    font-size: 30px;
    color: whitesmoke;
}

.rate {
    display: block;
    bottom: 0;
}

.btn-type-client {
    display: flex;
    align-items:center;
}


.btn-deconnexion:hover, .uil-shopping-bag:hover, .uil-user-circle:hover, .btn-entreprise:hover {
    background: rgba(25, 151, 87, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: whitesmoke;
}

.github-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.github-icon:hover, .tiktok-icon:hover, .instagram-icon:hover, .discord-icon:hover, .appstore-icon:hover, .playstore-icon:hover {
    cursor: pointer;
}

.cart-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2%;
    flex: 1 0 auto;
}

.span-remise-presta {
    border-radius: 50rem;
    --bs-bg-opacity: 1;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #0DCAF0;
}

.table-my-orders {
    border-radius: 10px;
    background-color: #575757;
}

.table-my-orders td {
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
}

/* Formulaire de paiment */

.button-payment{
    width: 5%;
    padding: 0.3%;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    margin-left: 15%;
    background-color: var(--main-button-color);
}
.button-payment:hover, .validate-promo-code:hover, .button-payment-presta:hover, #filter-products-button:hover {
    cursor: pointer;
    background: #15CF74;
}

.button-payment-presta {
    width: 100px;
    color: white;
    padding: 8px;
    border: none;
    text-align: center;
    border-radius: 8px;
    margin-top: 40px;
    bottom: -160px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    margin-left: 0.1%;
    background-color: var(--main-icons-color);
}

#filter-products-button {
    width: auto;
    color: white;
    padding: 8px;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-icons-color);
}

.promo-code-valid, .promo-code-invalid {
    margin-left: 15%;
    margin-bottom: 1%;
    background-color: var(--main-icons-color);
    width: 14%;
    padding: 0.3%;
    border: none;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
}

.promo-code-valid {
    color: green;
}
.promo-code-invalid {
    color: red;
}

.input-code-promo {
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0.5%;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.form-group-promo-code {
    margin-left:  15%;
}

.validate-promo-code {
    width: 5%;
    padding: 8px;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    margin-left: 0.1%;
    background-color: var(--main-button-color);
}


/* Fin formulaire de paiment */

/* Logo bar tools */

.logoSpeedCash {
    width: 210px;
    height: 50px;
    margin-bottom: 8px;
}


.container-thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 auto;
    margin-top: 60.5px;
    margin-bottom: 99px;
}


.container-body {
    display: flex;
    margin-bottom: 2%;
    flex: 1 0 auto;
    justify-content: center;
}

.body-client {
    background-color: rgba(50, 50, 50, 1);
}

.body-all-products {
    background-color: var(--main-dark-color);
}

/* carrousel-products et carrousel-prestas */

.container-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    flex: 1 0 auto;
}

.carrousel-products, .carrousel-presta {
    margin-bottom: 2%;
    height: 490px;
    flex: 1 0 auto;
    display: flex;
    text-align: center;

    border-radius: 12px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    border-radius: 8px;
    padding: 2%;
    transition: all 0.3s ease-in-out;
}

.carousel-control-next:hover .carousel-control-next-icon, .carousel-control-prev:hover .carousel-control-prev-icon {
    cursor: pointer;
    color: #15CF74;
}

.carrousel-products-container, .carrousel-presta-container {
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
}

.carrousel-products-container:hover, .carrousel-presta-container:hover {
    cursor: pointer;
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1);
}

.carrousel-presta-container, .carrousel-products-container {
    background-color: rgba(58, 58, 58, 1);
    border-radius: 14px;
    width: 1490px;
    height: 590px;
    padding: 2%;
    color: #d7d7d7;
}

.carrousel-products-container {
    margin-bottom: 2%;
}

.img-product, .img-presta {
    width: 400px;
    height: 400px;
    object-fit : cover;
    padding: 1.2%;
    color: black;
    border-radius: 100%;

    transition: all 0.3s ease-in-out;
    background-color: rgb(74, 74, 74, 0.08);
}

.img-product:hover, .img-presta:hover {
    cursor: pointer;
    background-color: rgb(74, 74, 74, 0.5);
}

.img-presta-carousel {
    position: relative;
    top: -15px;
    width: auto;
    height: 400px;
    object-fit : cover;
    padding: 1.2%;
    color: black;
    border-radius: 40px;

    transition: all 0.3s ease-in-out;
    background-color: rgb(74, 74, 74, 0.08);
}

.img-presta-carousel:hover {
    cursor: pointer;
    background-color: rgb(74, 74, 74, 0.5);
}


.text-caption {
    text-align: left;
}

/* Page de produit */

.container-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
    flex: 1 0 auto;

    background-color: rgba(50, 50, 50, 1);
}

.body-product_id {
    background-color: rgba(50, 50, 50, 1);
}

.stock-badge {
    margin-top: 2%;
    margin-bottom: 2%;
}

.product-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    color: white;
    flex: 1 0 auto;

    background-color: rgba(50, 50, 50, 1);
}

.comment-card {
    background: #3b3b3b;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 2%;
}

.table-product-details {
    margin-top: 5%;
    width: 100%;
    margin-bottom: 10%;
    background-color: rgba(58, 58, 58, 1);
    border-radius: 12px;

    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
}

.table-product-details th {
    text-align: left;
    padding: 1%;
    color: #d7d7d7;
    font-weight: normal;
}

.table-product-details td {
    text-align: left;
    padding: 1%;
    color: white;
    font-weight: normal;
}

.table-product-details tr:nth-child(even) {
    background-color: #4a4a4a;
}


.add-to-card-product {
    border-radius: 4px;
    border: none;
    background-color: var(--main-icons-color);
    padding: 1%;
    margin-top: 2%;
    color: var(--main-thumbnail-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.confirm-quantity {
    border-radius: 4px;
    border: none;
    padding: 0.6%;
    background-color: var(--main-icons-color);
    margin-left: 1%;
    color: var(--main-thumbnail-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.confirm-quantity:hover {
    color: white;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-to-card-product:hover {
    color: white;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-send-comment {
    border-radius: 4px;
    border: none;
    background-color: var(--main-icons-color);
    padding: 0.6%;
    margin-top: 2%;
    color: var(--main-thumbnail-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.btn-send-comment:hover {
    color: white;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* FIN Page de produit */

/* Vignette vente */

.thumbnail {
    background: rgba(50, 50, 50, 1);
    display: flex;
    width: 480px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 1%;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.thumbnail-presta {
    background: rgba(50, 50, 50, 1);
    display: flex;
    width: 680px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 1%;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

    #search-on-presta, #order-by-price-min, #order-by-price-max, #search-on-product {
    width: 210px;
    border-radius: 8px;
    border: none;
    padding: 1%;
}

#filter-products-by-brand, #filter-products-by-category, #filter-prestas-by-category {
    width: 120px;
    border-radius: 8px;
    border: none;
    padding: 1%;
}

.img-product-thumbnail {
    width: 240px;
    height: 240px;
    object-fit : cover;
    background-color: var(--main-dark-color);
    border-radius: 8px;
    padding: 2%;

    transition: all 0.3s ease-in-out;
}

.img-presta-thumbnail {
    width: 420px;
    height: 240px;
    object-fit : cover;
    background-color: var(--main-dark-color);
    border-radius: 8px;
    padding: 2%;

    transition: all 0.3s ease-in-out;
}

.thumbnail-info-a {
    text-decoration: none;
    color: var(--main-thumbnail-color);
}

.thumbnail-info-a:hover {
    color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.thumbnail-info-a:hover .img-product-thumbnail {
    background-color: rgba(15, 162, 91, 0.3);
}

.rate-form {
    border-radius: 4px;
    border: none;
    background-color: var(--main-icons-color);
    padding: 4%;
    color: var(--main-thumbnail-color);
    transition: all 0.3s ease-in-out;
}

.rate-form:hover{
    color: white;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.row-right {
    margin-left: 2.5%;
}

.message-remise-presta {
    position: absolute;
    display: flex;
    left: 40%;
    padding: 1%;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    width: 20%;
    color: white;
    background-color: #15CF74;

    transition: all 0.3s ease-in-out;
    animation-name: notif;
    animation-duration: 1s;
}

.success-notif {
    position: fixed;
    top: 140px;
    left: 38%;
    padding: 14px 18px;
    background: #15CF74;
    border-radius: 12px;
    width: 25%;
    color: whitesmoke;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    animation-name: notif;
    animation-duration: 1s;
}

@keyframes notif {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.close-popup-notif {
    font-size: 20px;
    position: absolute;
    top: 1%;
    right: 3%;
    color: whitesmoke;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.close-popup-notif:hover {
    cursor: pointer;
    color: indianred;
    transition: all 0.3s ease-in-out;
}


.uil-shopping-cart::before, .uil-user-circle::before {
    font-size: 30px;
    width: auto;
    text-align: center;
    padding: 4%;
    color: white;
    border-radius: 8px;
}

.filter-products-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-filter {
    margin-left: 1%;
}

.navigation-bar-client {
    display: flex;
    text-transform: uppercase;
    background-color: var(--main-icons-color);
    align-items: center;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 2%;
    height: 70px;

    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
}

.presta-a, .produit-a {
    text-decoration: none;
    color: white;
    background-color: var(--main-icons-color);
    padding: 4px 8px;
    border-radius: 8px;
}

.presta-a:hover, .produit-a:hover {
    cursor: pointer;
    color: #109454;
    transition: all 0.3s ease-in-out;
}

.presta-a:hover .uil-bookmark, .produit-a:hover .uil-tag-alt {
    color: #109454;
    transition: all 0.3s ease-in-out;
}


.uil-bar-client {
    font-size: 18px;
    text-align: center;
}

.tag-alt-all-products {
    font-size: 28px;
    margin-left: 20%;
    width: auto;
    text-align: center;
    color: white;
    background-color: var(--main-icons-color);
    padding: 4px 8px;
    border-radius: 8px;
}


.filter-products-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uil-shopping-cart:hover::before, .uil-user-circle:hover::before {
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.desc-product {
    font-size: 14px;
}

.text-product {
    margin-top: 1.2%;
}

/* panier.php */

.cart-table tr:nth-child(even) {
    background-color: #4a4a4a;
}

.cart-table{
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}
.cart-table td, th {
    text-align: center;
    padding: 8px;
}

.cart-table td {
    height: auto;
}

.rowtotal {
    text-align: center;
    margin-left: 74.5%;
    border-radius: 8px;
    background-color: var(--main-button-color);
    padding: 0.3%;
    width: 10.5%;
}

.elements-number {
    margin-left: 15%;
    width: 10.5%;
    background-color: var(--main-button-color);
    padding: 0.3%;
    text-align: center;
    border-radius: 8px;

}

/* Début Page de profile client */

.navigation-bar-container {
    height: 160vh;
    background-color: rgb(60, 60, 60);
    padding: 2%;
    width: 50%;
}

.navigation-bar {
    position: relative;
    width: 100%;
}

.span-privacy, .span-card, .span-orders, .span-e-mails, .span-account, .span-password, .span-own-cards {
    margin-left: 2%;
}

.private-data-li-a, .orders-li-a, .cards-li-a, .other-li-a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: var(--main-thumbnail-color);
    padding: 2%;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.private-data-li-a:hover, .orders-li-a:hover, .cards-li-a:hover, .other-li-a:hover {
    color: #15CF74;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}



.ul-profile-container {
    list-style-type: none;
}

/* Début COMPTE */

.account-card, .password-card, .e-mail-card, .private-data-card, .my-orders-card, .my-speed-cash-card-card, .my-own-card-card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--main-dark-color);
    width: 100%;
    padding: 4%;
    right: 15%;

    height: auto;
}

.my-speed-cash-card-card p {
    padding: 0;
    margin: 0;
}


.private-data-card-right {
    margin-right: 40%;
}

.private-data-card-body {
    display: flex;
}

.account-container, .password-container, .e-mail-container, .private-data-container, .my-orders-container, .my-speed-cash-card-container, .my-own-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--main-dark-color);

}

.alert-private-data, .alert-changeName, .alert-changeAge, .alert-changeNation {
    width: 404px;
    padding: 16px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    background: linear-gradient(199deg, #2DA771 24.18%, #04c361 80.49%);
    border-radius: 4px;
    z-index: 999;
}

.alert-requestCard, .alert-addCard, .alert-changeMDP, .alert-changeMail {
    width: 404px;
    padding: 16px;
    margin-top: 5%;
    margin-left: 0;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    background: linear-gradient(199deg, #2DA771 24.18%, #04c361 80.49%);
    border-radius: 4px;
    z-index: 999;
}

.separator-cards {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    height: 1px;
    background-color: #E5E5E5;
}


/* FIN COMPTE */

/* Fin Page profile client */

/* media queries */

@media screen and (max-width: 1540px) {
    .carrousel-presta-container, .carrousel-products-container {
        width: 1290px;
        height: 550px;
    }

}