@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

:root {
    --main-dark-color: rgba(58, 58, 58, 1);
    --footer-dark-color: rgba(45, 45, 45, 1);
    --main-icons-color: rgba(70, 70, 70, 1);
    --main-thumbnail-color: #dcdcdc;
}

/* Page panier.php */

.cart-body {
    background-color: var(--main-dark-color);
}

/* Fin page panier.php */

html, body {
    padding: 0;
    margin: 0;
}

.bar-top {

    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    height: 55px;


    background: #15CF74;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Social icons */

.social-icon {

    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-left: 85%;

}

.discord-icon {

    width: 34px;
    height: 34px;
    margin-right: 20%;

}

.instagram-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.tiktok-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.btn-deconnexion {

    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 45px;
    padding-right: 45px;
    color: whitesmoke;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.uil-shopping-bag {
    border-radius: 30px;
    padding: 4px 15px;
    font-size: 30px;
    color: whitesmoke;
}

.rate {
    display: block;
    bottom: 0;
}

.btn-type-client {
    display: flex;
    align-items:center;
}


.btn-deconnexion:hover, .uil-shopping-bag:hover {
    background: rgba(25, 151, 87, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.github-icon {

    width: 30px;
    height: 30px;
    margin-right: 20%;

}

.github-icon:hover, .tiktok-icon:hover, .instagram-icon:hover, .discord-icon:hover, .appstore-icon:hover, .playstore-icon:hover {
    cursor: pointer;
}

.cart-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

tr:nth-child(even) {
    background-color: #4a4a4a;
}

/* Formulaire de paiment */

.button-payment{
    border: 0.4px solid black;
    width: 6%;
    padding: 0.3%;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 15%;
}
.button-payment:hover{
    background: #15CF74;
}

.button-payment-a{
    text-decoration: none;
    color: whitesmoke;
}


/* Fin formulaire de paiment */

/* Logo bar tools */

.logoSpeedCash {
    width: 8.9%;
}

.container-thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body-client {
    background-color: var(--main-dark-color);
}

/* Vignette vente */

.thumbnail {
    background: rgba(50, 50, 50, 1);
    display: flex;
    width: 25%;
    flex-direction: row;
    border-radius: 8px;
    margin-top: 1%;
    padding: 1%;
}

.thumbnail-info-a {
    text-decoration: none;
    color: var(--main-thumbnail-color);
}

.thumbnail-info-a:hover {
    color: #109454;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.rate-form {
    border-radius: 4px;
    border: none;
    background-color: var(--main-icons-color);
    padding: 4%;
    color: var(--main-thumbnail-color);
    transition: all 0.3s ease-in-out;
}

.rate-form:hover {
    color: white;
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.row-right {
    margin-left: 2.5%;
}

.img-product {
    width: 240px;
    height: 240px;
}

.uil-shopping-cart::before {
    font-size: 24px;
    width: auto;
    text-align: center;
    padding: 4%;
    color: white;
    border-radius: 8px;
    background-color: var(--main-icons-color);
}

.uil-shopping-cart:hover::before {
    background-color: #109454;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.desc-product {
    font-size: 14px;
}

.text-product {
    margin-top: 1.2%;
}

/* panier.php */

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
}
td, th {
    text-align: left;
}

td {
    height: auto
}

.rowtotal {
    text-align: right;
    margin-right: 15%;
}

.elements-number {
    margin-left: 15%;
}


footer {
    position: relative;
    bottom: 0;
    background-color: var(--footer-dark-color);
    color: white;
    padding: 4%;
    width: 100%;
}